#contact {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  height: 50vh;
  /*center in container*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  #contact form {
    /*Center fields*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  #contact fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  
  #contact label {
    margin-top: 8px;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    padding: 8px;
    border: 1px solid #ccc;
  }
  #contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact textarea:focus {
  border-color: var(--action-color);
  outline: none;
}
  
  #contact textarea {
    height: 120px;
  }
  #contact fieldset div{
  margin: 0 auto;
}
  #contact button {
   margin: 20px 0;
   transition: transform 0.2s ease;
  }
