footer{
    background-color: var(--primary-color);
}
footer a {
    color: var(--white);
    font-size: var(--font-size-large);
    transition: all 0.2s ease-out;
}

footer a:hover {
    color: var(--action-color);
    transform: translateY(-3px);
}
.footer-links-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.copyright{
    color: var(--white);
    font-weight: var(--font-weight-medium);
    text-align: center;
    padding-bottom: 1rem;
    font-style: italic;
}