footer{
    background-color: var(--primary-color);
}
footer a {
    color: var(--white);
    font-size: var(--font-size-large);
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: var(--action-color);
}
.footer-links-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}