.navbar {
    background-color: var(--primary-color);
    font-weight: var(--font-weight-medium);
    
}
.navbar-nav .nav-item .nav-link {
    color: var(--white);
    transition: ease-in-out 0.3s;
}
.navbar-nav .nav-item .nav-link:hover {
    color: var(--action-color);
}
/*LOGO*/
nav img {
    border: 2px solid transparent;
    transition: ease-in-out 0.3s;

}

nav img:hover {
    border: 2px solid var(--white);
    border-radius: 100em;
    transition: ease-in-out .4s;
    transform: scale(1.1);
}

