#projects {
    margin-bottom: 8rem;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1.5rem;
    margin-top: 1.5rem;
}

.projects-card {
    background-color: var(--white);
    color: var(--black);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    height: 100%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
}

.projects-card.visible {
    animation: slideIn 1s ease-out forwards;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-title {
    /* Position the title absolutely within the project-thumbnail */
    position: absolute;
    bottom: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.3); 
    color: var(--white);
    padding: 0.5rem; 
    width: 100%; 
}

.project-text-content{
    padding: 1rem .5rem;
}

/*Thumbnail*/
.project-thumbnail {
    position: relative; /* Create a positioning context for the absolute title */
}

.project-thumbnail img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-thumbnail img:hover {
    transform: scale(1.05);
}
/*Card Footer*/
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Push the footer to the bottom */
}

.project-skill {
    padding: .5rem;
    color: #272727;
}

/*Buttons*/
.button-container {
    display: flex;
    gap: .5rem;
    padding: .5rem;
}

/*Mobile*/
@media (max-width: 1000px) {
    #projects {
        padding: 0 4rem;
    }
    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    #projects {
        padding: 0 2rem;
    }
    .button-container{
        justify-content: center;
    }
}