#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.skill-card {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    border-radius: 8px;
}

/*MOBILE*/
@media (max-width: 900px) {
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
}