#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.skill-card {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 8px;
}