#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}


/*Animations*/
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px) rotate(-2deg);
    }

    50% {
        transform: translateX(4px) rotate(2deg);
    }

    75% {
        transform: translateX(-2px) rotate(-1deg);
    }

    100% {
        transform: translateX(0);
    }
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.skill-card {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    border-radius: 8px;
    min-height: 220px;
}

.icon {
    margin-bottom: .5rem;
}

.icon svg {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    color: var(--action-color);
}


.icon svg:hover {
    animation: shake .4s ease-in-out;
}

/* MOBILE */
@media (max-width: 900px) {
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
}
